@use 'variables' as *;
@use 'nord' as *;
@use 'include-media' as *;
@use 'sass:color';

$sign-radius: 1rem;
// $sign-green: #01735c;
$sign-green: #2c6650;
// $sign-green: #00a86b;
$safety-orange: #ff904a;

.big-sign-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Overpass', $sans;
  letter-spacing: 1px;
  font-weight: 450;
  letter-spacing: 1px;
  font-size: 2.5em;
  text-align: center;
  color: white;
  margin: 0;
}

.big-sign {
  // background: $sign-green;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100vw;
  background: lightgray;
  align-items: stretch;
}

.sign-component {
  display: flex;
  flex-flow: row nowrap;
  align-items: center; 
  justify-content: center;
  padding: 4rem;
  margin: 0 8px;
  min-width: 8vw;
  // min-height: 10vh;
  vertical-align: middle;
  border: solid white 5px;
  color: white;
  border-radius: $sign-radius;
  background-color: $sign-green;
  position: relative;
  &:hover {
    color: white;
    background: radial-gradient(
        circle at bottom center,
        color.scale($sign-green, $lightness: 40%),
        color.scale($sign-green, $lightness: 25%) 10%,
        color.scale($sign-green, $lightness: 15%) 30%,
        $sign-green 100%
    );
    filter: $drop-shadow;
  }
}

.element:hover::before {
  opacity: 1;
}

.main-sign-component {
  @extend .sign-component;
  font-weight: 600;
  font-size: 1.125em;
}
.sign-link-component {
  @extend .sign-component;
}

.colophon {
  position: absolute;
  bottom: 1em;
  right: 1.5em;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: calc($sign-radius / 2);
  background: $safety-orange;
}

.down-arrow {
  position: absolute;
  bottom: 0.5em;
}

// Traffic headers
.header {
  font-family: 'Overpass', $sans;
  position: relative;
  margin-bottom: 3rem;
  font-size: 1.25em;
  letter-spacing: 0.15rem;
  font-weight: 450 !important;
  &:hover {
    filter: $drop-shadow;
  }
}

.header-inner {
  background: $sign-green;
  // margin-top: 0;
  padding-top: 1.25rem;
  padding-bottom: 0.5rem;
  text-align: center;
  color: white;
  border: solid white;
  border-radius: $sign-radius;
}

.header-alt {
  @extend .header-inner;
  background: white;
  color: black;
  border: solid black;
}

.exit-small {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0rem;
  margin: 0;
  color: white;
  border: solid white 0.2rem;
  background: $sign-green;
  border-radius: calc($sign-radius / 2);
  @include media("<tablet") {
    display: none;
  }
}

.exit > h1 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.exit:hover {
  opacity: 1;
  color: white;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}