@use 'nord' as *;

$drop-shadow: drop-shadow(0 0 2px $nord3);

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Variable.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Italic-Variable.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/InterVariable.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url('/fonts/Overpass-Variable.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Overpass Mono';
  src: url('/fonts/OverpassMono-Variable.ttf') format('truetype');
  font-style: normal;
}

$sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
$serif: 'Iowan Old Style', 'Apple Garamond', 'Baskerville', 'Times New Roman', 'Droid Serif', Times, 'Source Serif Pro', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$mono: Menlo, Consolas, Monaco, 'Liberation Mono', 'Lucida Console', monospace;

.sans {
  font-family: $sans;
}

.serif {
  font-family: 'Lora', $serif;
}

.mono {
  font-family: $mono;
}