@use 'nord' as *;

// @import url('family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// @font-face {
//   font-family: 'Gill Sans';
//   src: url('/fonts/GillSans-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: 'Inter';
  src: url('/fonts/InterVariable.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url('/fonts/Overpass-Variable.ttf') format('truetype');
  font-style: normal;
}

$sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
$serif: 'Iowan Old Style', 'Apple Garamond', 'Baskerville', 'Times New Roman', 'Droid Serif', 'Times', 'Source Serif Pro', 'serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$sign-radius: 1rem;
$sign-green: #01735c;

html {
  border: solid white;
  border-radius: $sign-radius;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-height: 100%;
}

body { 
  background: $nord6; 
  // background: $sign-green;
}

body {
  color: $nord0;
  font-family: 'Inter', $sans;
  max-width: 720px;
  font-size: 110%;
  line-height: 1.4;
  margin: 0 auto;
  padding: 0 3rem;
  min-height: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

.header {
  text-align: center;
  font-size: 125%;
  letter-spacing: 0.07em;
  margin-bottom: 3rem;
}

h1, h2, h3, h4, h5, h6 { 
  font-family: 'Overpass', $sans;
}

p { margin: 1rem 0; }

a {
  color: $nord10;
  text-decoration: none;
}

a:hover { color: $nord9; }

.header, .black { 
  color: $nord0; 
  &:hover {
    color: $nord3;
  }
}

li { margin: 0.4rem 0; }

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  background: rgba(0, 0, 0, 0.1);
}

pre code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  border-left: solid grey;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

// .footnote-definition {
//   padding: 0 1rem;
//   &:target {
//     background: yellow;
//     color: #212121;
//   }
//   p {
//     display: inline;
//   }
// }

// nav, .taxonomies { text-align: center; }

.title-block {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.title {
  margin-bottom: 0.5rem;
  margin-right: 3rem;
}
.subtitle {
  font-weight: 200;
  margin-top: 0;
  white-space: nowrap;
}

.exit {
  opacity: 0;
  text-align: center;
  letter-spacing: 0.07em;
  background-color: $sign-green;
  font-style: normal;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border: solid white;
  border-radius: $sign-radius;
  z-index: 1000;
}

.exit > h1 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.exit:hover {
  opacity: 1;
  color: white;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
}