<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
  <link rel="shortcut icon" type="image/svg+xml" href="/280.svg"/>
  <title>Riley Kong</title>
  
  <link rel="stylesheet" href="/style.css">
  
  <!-- Font loading script -->
  <script>
    if ("fonts" in document) {
      Promise.all([
        document.fonts.load("1em Inter")
      ]).then(() => {
        document.documentElement.classList.add("fonts-loaded");
      });
    } else {
      document.documentElement.classList.add("fonts-loaded");
    }
  </script>

  <!-- Vercel Web Analytics -->
  <script>
    window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
  </script>
  <script defer src="/_vercel/insights/script.js"></script>

  {% block extra_style %}{% endblock %}
</head>
<body>
  {% block page_title %}{% endblock %}
  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
