<!doctype html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
  <!-- <link rel="shortcut icon" type="image/svg+xml" href="/favicon.svg"/> -->
  <title>Riley Kong</title>
  <link rel="stylesheet" href="{{ get_url(path='style.css', trailing_slash=false) | safe }}"/>


</head>

<body>
  <a class="header" href="/"><h1>RILEY KONG</h1></a>

  <a href="/about"><h2 class="black">About</h2></a>
  <a href="/posts"><h2 class="black">Writings</h2></a>
  <a href="/colophon"><h2 class="black">Colophon</h2></a>
</body>

</html>