<!doctype html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
  <!-- <link rel="shortcut icon" type="image/svg+xml" href="/favicon.svg"/> -->
  <title>Riley Kong</title>
  <link rel="stylesheet" href="/style.css"/>


</head>

<body>
  <!-- Replace with actual design -->

  <div class="big-sign-container">
    <div class="big-sign">
      <a class="main-sign-component" href="/about">
        <img src="280.svg" height=60px style="margin-right: 0.5em;">
        Riley Kong
      </a>
      <a class="sign-link-component" href="/posts">
        Blog
        <img src="down-arrow.svg" height=35px class="down-arrow">
      </a>
      <a class="sign-link-component" href="/projects">
        Projects
        <img src="down-arrow.svg" height=35px class="down-arrow">
      </a>
      <a class="sign-link-component" href="/about">
        About
        <img src="upright-arrow.svg" height=35px class="down-arrow">
        <!-- <a class="colophon black" href="/colophon">Colophon</a> -->
      </a>

    </div>
  </div>
</body>

</html>