{% extends "base.html" %}

{% block page_title %}
/ Posts
{% endblock %}

{% block content %}
<!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->  
{% for page in section.pages %}
{% if not page.extra.draft %}
<a href="{{ page.path | safe }}">
  <div class="title-block post-title-block">
    <div class="subtitle">{{ page.date }}</div>
    <div class="post-title">{{ page.title }} </div>
  </div>
</a>
{% endif %}
{% endfor %}
{% endblock content %}
